<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset=UTF-8>
  <title>PDF - Log AnaliZEr</title>
  <meta name="author" content="Natália Gomes Knob" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/images/laze_new_peq2.png" type="image/gif" sizes="16x16">

  <style>
    body {
      font-size: 18px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
    }
    

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
      height: 80%;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    h1 {
      color: black;
      text-align: center;
      font-size: 35px;
      padding: 25px 0 5px;
    }

    h2 {
      color: #484848;
      text-align: center;
      font-size: 25px;
      padding: 0 0 25px;
    }

    th, td {
      text-align: left;
      padding: 16px;
      border: 1px solid #D3D3D3;
      max-width: 280px;
      word-wrap:break-word;
    }

    table thead:first-child tr {
      background-color: #484848; color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>

</head>

<body>
  <h1>{{title}}</h1>
  <h2>{{title2}}</h2>
  <div>
    <table>
      <thead>
        {% for field in fields %}
        <th> {{ field }} </th>
        {% endfor %}
      </thead>

      <tbody>
        {% for value in values %}
        <tr>
          {% for elem in value%}
          <td>{{ elem }}</td>
          {%endfor%}
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
