{% extends 'index.jinja2' %} {% block content %}

<div class="col-sm-12">
  <form class="formulario_signup" action="/updatingPassword" method="post" enctype="multipart/form-data">
    <div class="container">
      <p class="notification"> ATENÇÃO: Este formulário destina-se apenas à atualização de senha. Para alteração de dados, acesse o menu "Alterar dados cadastrais".
      {% if db_error %}
      </br></br>
      <span style="color: red; display:inline-block">{{db_error}}</span>
      {% endif %}
      </p>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="senha">Digite sua senha atual: </label>
          <input type="password" id="senha_atual"  name="senha_atual" class="form-control" onchange="validate_actual_pw()"value="{{ last_pw }}">
          <span class="errorPW0">Este campo é obrigatório!</span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Digite a nova senha:</label>
          <input type="password" id="senha_nova" name="senha_nova"  onchange="validate_new_pw()" class="form-control" value="{{ new_pw }}">
          <span class="errorPW1">Este campo é obrigatório!</span>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Redigite a nova senha:</label>
          <input type="password" id="senha_verificacao"  name="senha_verificacao" class="form-control" onkeyup="validate_verify_pw()" value="{{ verify_pw }}">
          <span class="errorPW2">Este campo é obrigatório!</span>
        </div>
      </div>
      
      
      <span id="signup_span">
        <button id="pw_update_btn" class="btn_laze" type="submit" disabled="disabled" >Atualizar senha</button></br>
      </span>

    </div>
  </form>
</div>

{% endblock %}
